body{}
img{
        max-width: 100%;
    border-radius: 50%;

}
section{
    width: 1200px;
    background-color: gainsboro;
    margin: 0 auto;
}
header{
    background-image: url(../img/aa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 52% 64px; */
    min-height: 500px;
}


.topheader{
    overflow: hidden;
}
.logo{
    /* width: 20%; */
    /* float: left; */
    /* padding: 0; */
    /* margin: 0; */
    /* display: inline-block; */
}
.logo img{}

nav{
    width: 80%;
}
nav ul{
    margin: 20px;
    padding: 0;
    overflow: hidden;
    text-align: right;
}
nav ul li{
    list-style: none;
    /* float: left; */
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
    display: inline-block;
    color: #fff;
    background-color: darkred;
}
nav ul li a:hover{}

.banner-content{
    width: 50%;
    float: right;
    padding: 11px 0 0;
}
.banner-content h2{
    color: #fff;
    margin: 0;
    line-height: 1.5;
}
.banner-content p{
    color: #6b5f5f;
    font-size: 15px;
    /* margin: 0; */
}
.join-btn{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid;
    padding: 2px;
    display: inline-block;
}
.body{
    background-color: #fff;
}
.body h2{
    text-align: center;
}
.body p{
    text-align: center;
}


.wrapper{
   
    background-color: red;
    text-align: center;
    
}
.main1{
    width: 33.33%;
    float: left;
}
.main1 h2{}
.main2{
    width: 33.33%;
    float: left;
}
.main2 h2{}
.main3{
    width: 33.33%;
    float: left;
}
.main3 h2{}


.idm{padding: 20px;margin: 20px;}
.img{max-width: 100%;
border-radius: 50%;
}
.img h2{
    text-align: center;
   
}
.img p{background-image: url(../img/nemo.jpg);
    background-repeat: no-repeat;
    background-size: cover;}
.join-btn{text-align: center}
.img p{text-align: center;}
.ptag{}
.ptag p {text-align: center;}
.ptag h2 {text-align: center;}
.footer{}
.foot1{
    width: 33.33%;
    float: left;
}
.foot1 h2{}

.last{
    background-color: red;
}
.logo{}
.logo img{}
.foot 1{width: 33.33%;
    float: left;}
.foot h2{text-align: center;}
.foot p{}

.foot2{
    width: 33.33%;
    float: left;
}
.foot h2{}
.foot p{}

.foot3{
    width: 33.33%;
    float: left;
}
.foot h2{}
.foot p{}







